body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(225, 247, 255), #e5f4fc 15%);
  overflow: hidden;
}

/* Content Styles */
#content {
  flex: 1;
  padding-top: 15vh; /* same as the header height */
  overflow-y: auto;
  width: 100%;
}

/* Heading Styles */
h1 {
  text-align: center;
  margin-bottom: 3vh;
  font-size: 4vh;
  background: linear-gradient(to left, white 45%, rgb(0, 13, 255) 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Form Styles */
form {
  margin-top: 30%;
  background: rgb(0, 0, 0);
  padding: 6vw 5vw;
  border-radius: 5vw;
  box-shadow: 0px 0px 5vw rgba(0, 13, 108, 0.6);
  color: #fffcfc;
  max-width: 90%;
  max-height: 90%;
  transform: perspective(600px) rotateY(0deg);
  animation: popIn 1s ease-in-out;
}
form {
  transform-style: preserve-3d;
  perspective: 1200px;
}

form:hover {
  transform: rotateY(10deg) scale(1.05);
  transition: transform 0.3s;
}

header-3d {
  transform-style: preserve-3d;
  perspective: 1200px;
}

header-3d:hover {
  transform: rotateX(10deg) scale(1.05);
  transition: transform 0.3s;
}

@keyframes popIn {
  from {
    transform: perspective(600px) rotateY(-90deg);
    opacity: 0;
  }
  to {
    transform: perspective(600px) rotateY(0deg);
    opacity: 1;
  }
}

/* Input Styles */
input[type="text"],
input[type="password"],
input[type="file"] {
  margin-top: 1vh;
  width: 90%;
  height: 7vh;
  padding: 2vh 5vw 2vh 3vw;
  border: 0.3vw solid #040036;
  border-radius: 5vw;
  font-size: 2vh;
  margin-bottom: 1vh;
  color: #000000;
}

/* Button Styles */
button {
  width: 50%;
  height: 6vh;
  padding: 2vh;
  margin-top: 4vh;
  margin-bottom: 1vh;
  border: none;
  border-radius: 5vw;
  background: rgb(9, 0, 98);
  color: white;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s ease, transform 0.5s ease;
}

button:hover {
  background: white;
  color: black;
  transform: scale(1.1);
}

button:active {
  background: blue;
  transform: translateY(2px);
}

/* Responsive Form */
@media only screen and (max-width: 500px) {
  form {
    width: 90vw;
    height: 60%;
    padding: 5vw;
    font-size: 6vw;
    margin-bottom: 2vh;
    border: 0.2vw solid #040036;
  }
}

/* Application Container Styles */
#app {
  text-align: center;
  padding: 5%;
  width: 90%;
  height: 90vh;
  max-width: 400px;
  margin: 5% auto;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}

.logo {
  margin: 0 20px;
  height: 40px;
}

/* Navbar Styles */
.navbar {
  margin-right: 5vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 3vw;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2vh;
  font-weight: bold;
  padding: 10px 5px;
  transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
  color: #007bff;
  transform: scale(1.1);
}

nav ul ul {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  list-style: none;
}

nav ul ul li {
  padding: 5px 0;
}

nav ul ul li a {
  padding: 5px;
  white-space: nowrap;
}

nav ul li:hover ul {
  display: block;
}

/* Join Room Popup */
#join-room-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  display: none;
  background: rgba(0, 0, 0, 0.9);
  padding: 5%;
  border-radius: 5vw;
  box-shadow: 5px 4px 8px rgba(50, 0, 0, 0.2);
  color: white;
}

#join-room-popup .popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
}

.progress-circle {
  border: 1vw solid #ccc;
  border-top: 1vw solid #100183;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
#cr-room-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  display: none;
  background: rgba(0, 0, 0, 0.9);
  padding: 5%;
  border-radius: 5vw;
  box-shadow: 5px 4px 8px rgba(50, 0, 0, 0.2);
  color: white;
}

#cr-room-popup .popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
}

.progress-circle {
  border: 1vw solid #ccc;
  border-top: 1vw solid #100183;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  margin-top: 10vh;
  background: #222;
  color: #ccc;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

/* Bottom Navbar */
.bottom-navbar {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.bottom-nav-item {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: transform 0.3s, background-color 0.3s;
}

.bottom-nav-item:hover {
  transform: translateY(-5px);
  background-color: #555;
  border-radius: 5px;
}

.bottom-nav-item.active {
  background-color: #444;
  border-radius: 5px;
}
/* Main Content Padding */
/* Main Content */
main {
  flex: 1;
  padding-top: 15vh;
  overflow-y: auto;
  width: 100%;
}

/* Responsive Navbar */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  nav ul ul {
    position: static;
    padding: 0;
  }

  nav ul ul li a {
    padding-left: 15px;
  }
}

/* Paragraph and Link Styles */
p {
  margin-top: 3vh;
  font-size: 2vh;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 100;
}

a {
  font-weight: bold;
  color: #001fd0;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #fffdfd;
}

/* Responsive Paragraph Styles */
@media only screen and (max-width: 768px) {
  p {
    font-size: 2vh;
  }
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 2vh;
  }
}

/* Additional Styles for Form Container */
#formContainer {
  max-width: 400vw;
  height: 60%;
  margin: 0 auto;
  padding: 20px;
}

form {
  margin-bottom: 30%;
  text-align: center;
  height: 60%;
  width: 80vw;
}

input {
  width: 90%;
  height: 7vh;
  padding: 10px;
  margin-bottom: 1vh;
  box-sizing: border-box;
}

button {
  width: 50%;
  height: 6vh;
  padding: 10px;
  background-color: #2101c1;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .app-title {
    font-size: 5vh;
  }

  .info-btn {
    display: inline; /* Adjust as needed for mobile */
  }
}
#roomDetails {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

#roomDetails h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Upload form */
#uploadForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

#uploadForm input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.upload-btn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #45a049;
}

/* Files list */
#filesList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#filesList li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

#filesList li a {
  text-decoration: none;
  color: #333;
  word-break: break-all;
}

#filesList li a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.bottom-navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px 0;
}

.bottom-navbar a {
  color: white;
  text-decoration: none;
}

.bottom-navbar a:hover {
  text-decoration: underline;
}
